@model Proyecto.ViewModels.PuestosListVM

@{
    ViewData["Title"] = "Index";
}
<h1>Puestos de Trabajo</h1>
<style>img{width:250px; height:150px ;}</style>
<img src="~/img/puestos fp.jpg"  align="right">

<p>
    <a asp-action="Create" button class="btn btn-dark" >Generar Puesto</a>
</p>
<form method="get" asp-action="Index" asp-controller="Puesto">
    <div class="col-6 form-group mb-2">
        <input class="form-control" asp-for="Filter">
    </div> 
    <button class="btn btn-sm btn-dark" type="submit">Buscar</button>

</form>
<table class="table">
    <thead>
        <tr>
     
            
            <th>
                @Html.DisplayNameFor(model => model.Puestos[0].Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Puestos[0].SectorId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Puestos) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SectorId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" button class="btn btn-primary" >Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id" button class= "btn btn-warning" >Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" button class="btn btn-danger" >Delete</a>
            </td>
        </tr>
}
    </tbody>
    <a href="http://localhost:5078">Volver al inicio</a>
</table>
